<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h3>Account Details</h3>
      <hr/>
      <div class="contianer">
        <div class="panel">
          Checking Account {{ this.checkingInfo? this.checkingInfo.id: null}}
        </div>
        <div class="container">
          <p style="float: left;"> Available: </p>
          <p style="float: right;"> {{ this.checkingInfo ? this.checkingInfo.balance : null | currency: 'USD': true}} </p>
        </div>
        <div class="container">
          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th>Date</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Category</th>
              </tr>
            </thead>
            <tbody *ngFor="let ca of checkingActivity">
            <td>{{ca.timeStamp}}</td>
            <td>{{ca.description}}</td>
            <td>{{ca.amount}}</td>
            <td>{{ca.category}}</td>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
