<div class="container" >
  <div class="jumbotron" style="min-height: 500px">
    <div class="container">
      <h3>Deposit</h3>
      <form [formGroup]="depositForm">
        <label>Please select an account for deposit</label><br>
        <select formControlName="accountnumber">
          <option [value]="this.userinfo.checking_account">Checking Account: {{this.userinfo ? this.userinfo.checking_account: null}}</option>
          <option [value]="this.userinfo.saving_account">Saving Account: {{this.userinfo ? this.userinfo.saving_account: null}}</option>
        </select>
        <br>
        <span>Available amount: </span>
        <span *ngIf="accountnumber.value==this.userinfo.checking_account">
          {{this.checkingInfo ? this.checkingInfo.balance : 0 | currency: 'USD': true}}</span>
        <span *ngIf="accountnumber.value==this.userinfo.saving_account">
          {{this.savingInfo ? this.savingInfo.balance : 0 | currency: 'USD': true}}</span>

        <br>
        <label>Amount</label>
        <br>
        <input type="number" formControlName="amount"/>
        <br>
        <button  class="btn btn-success" (click)="deposit()">Deposit</button>
      </form>
    </div>
    <div *ngIf="this.success">
      <br><br>
      <h3>Than you. Your deposit is completed.</h3>
      <br>
      <img *ngIf="this.success" src="https://s3.amazonaws.com/msi-final-135/hqdefault.jpg">
    </div>
  </div>
</div>
