<div class="container">
  <div class="jumbotron">
    <div class="container">
      <p style="text-align: center">
        Welcome to the Popcorn Bank Test-ATM.
      </p>
      <p style="text-align: center">
        What do you want to do today?
      </p>
    </div>
    <div class="container" style="text-align: center">
      <div class="row">
        <br>
        <div class="col-7">
          <button class="btn btn-success btn-lg" (click)="goToTransfer()">Transfer Between Linked Accounts</button>
      <span>    </span>
          <button class="btn btn-success btn-lg" (click)="goToWithdraw()">Withdraw</button>
      <button class="btn btn-success btn-lg" (click)="goToDeposit()">Deposit</button>
          <span>    </span>
        </div>
        <br><br><br>
        <div class="col-5">
          <img src="https://s3.amazonaws.com/msi-final-135/atm-png-image-24450.png">
        </div>

      </div>
    </div>
  </div>
</div>
